## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
s = s.split()

In [ ]:
print(s)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print("The diameter of {0} is {1} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
#tuples are immutable
#lists are mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def getWebsite(s):
  return s.split("@")[1]
s = "user@domain.com"
print(getWebsite(s))

domain.com

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def checkWord(s):
  return "dog" in s.lower()
print(checkWord("I bought a Dog."))

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countWord(s):
  return s.lower().count("dog")
print(countWord("I bought a Dog. The dog was cute and active."))

2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(90,True))
print(caught_speeding(65,False))

Big Ticket
Small Ticket

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
n = int(input("Enter the number of Employees: "))
l = []
for i in range(n):
  basic = int(input("Enter basic pay for employee {0}: ".format(i+1)))
  da = float(basic*0.25)
  hra = float(basic*0.15)
  pf = float((basic+da)*0.12)
  ta = float(basic*0.075)
  netpay = float(basic+da+hra+ta)
  grosspay = float(netpay-pf)
  l.append([basic,da,hra,pf,ta,netpay,grosspay])
for i in range(n):
  print(l[i][-1])

Enter the number of Employees: 5
Enter basic pay for employee 1: 15000
Enter basic pay for employee 2: 24000
Enter basic pay for employee 3: 35000
Enter basic pay for employee 4: 18000
Enter basic pay for employee 5: 64000
19875.0
31800.0
46375.0
23850.0
84800.0

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
d1 = {'Empid':1,'Empname':'ABC','Basicpay':45000}
d2 = {'DeptName':'Information Technology','Deptid':2}
print(d1)
print(d2)
d1.update(d2)
print(d1)

{'Empid': 1, 'Empname': 'ABC', 'Basicpay': 45000}
{'DeptName': 'Information Technology', 'Deptid': 2}
{'Empid': 1, 'Empname': 'ABC', 'Basicpay': 45000, 'DeptName': 'Information Technology', 'Deptid': 2}